// Colors
$primary-gradient: linear-gradient(180deg, #1281ff 0%, #6ecf9f 75%, #caf49d 100%);
$ui-white: #ffffff;
$ui-black: #000000;
$background-color: #fff9d6;
$dialog-color: #caf49d;
$button-bg: #38a57f;
$button-stroke: #257458;
$shadow-color: rgba(0, 0, 0, 0.25);

// Dimensions
$design-width: 100vw;
$design-height: 100vh;

// Fonts
$font-main: "Vasca", sans-serif;
$font-body: "Inter", sans-serif;
