@import "../../global.scss";

.sentence-container {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;

    .sentence-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        .sentence {
            flex: 1;
            text-align: left;

            h2 {
                font-size: 1.1em;
                margin: 0;
                font-weight: bold;
                font-style: italic;
                color: #333;
            }
        }

        .img {
            img {
                width: 80px;
                height: 80px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }

    .buttons-container {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;

        ion-button {
            flex: 1;
            font-size: 1.1em;
            font-weight: bold;
            padding: 10px 15px;
            text-transform: uppercase;
            min-width: 100px;

            &::part(native) {
                border-radius: 20px;
            }

            &.success {
                background-color: #39d139;
                color: white;
            }

            &.danger {
                background-color: #d13939;
                color: white;
            }
        }
    }

    .selected-answer {
        text-align: center;
        margin-top: 10px;
        font-size: 1.3em;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }
}

.end-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    ion-button {
        font-size: 1.3em;
        font-weight: bold;
        color: white;
        width: 90%;
        padding: 12px;
        text-transform: uppercase;

        &::part(native) {
            border-radius: 20px;
        }
    }
}
