<ion-content [fullscreen]="true">
  <div class="container">
    <!-- Botón de volver atrás -->
    <div class="back-button-container">
      <button routerLink="/map" class="back-button">
        <img src="../../assets/images/back.png" alt="Back Icon" />
      </button>
    </div>

    <div class="frog-speech">
      <!-- Imagen de la rana -->
      <div class="frog-image-container">
        <img src="../../assets/images/Frog.png" alt="Frog" class="frog-image" />
      </div>

      <!-- Texto hardcodeado -->
      <div class="speech-bubble">
        <!-- Verificamos que exista selectedLocation -->
        <ng-container *ngIf="selectedLocation; else noData">
          <p>
            <strong>{{ selectedLocation?.name }}</strong><br />
            {{ selectedLocation?.description }}<br />
          </p>
        </ng-container>
        <ng-template #noData>
          <p>No se ha seleccionado ninguna ubicación.</p>
        </ng-template>
      </div>
    </div>

    <!-- Imagen de un cartel -->
    <div class="poster-image-container">
      <img
        src="../../assets/images/cartel.png"
        alt="Cartel"
        class="poster-image"
      />

      <!-- Contenedor dinámico para video, audio o imagen -->
      <div class="media-container">
        <ng-container *ngIf="selectedLocation">
          <!-- Si img no es "nulo" y es un video, mostrar video -->
          <ng-container *ngIf="isVideo(selectedLocation.video); else checkAudio">
            <video controls class="media-element">
              <source [src]="selectedLocation.video" type="video/mp4" />
              Tu navegador no soporta la reproducción de video.
            </video>
          </ng-container>
      
          <!-- Si img no es un video pero es un audio, mostrar audio -->
          <ng-template #checkAudio>
            <ng-container *ngIf="isAudio(selectedLocation.audio); else showImage">
              <audio controls class="media-element">
                <source [src]="selectedLocation.audio" type="audio/mpeg" />
                Tu navegador no soporta la reproducción de audio.
              </audio>
            </ng-container>
          </ng-template>
      
          <!-- Si img no es un video ni un audio, mostrar imagen -->
          <ng-template #showImage>
            <img
              [src]="selectedLocation.img"
              alt="Location Image"
              class="media-element"
            />
          </ng-template>
        </ng-container>
      </div>
    </div>

    <!-- Botón -->
    <div class="action-button__container">
      <button (click)="goToExplanation()" class="action-button">
        <span class="action-button__label">JOLASTU!</span>
      </button>
    </div>
    <img
      src="../../assets/images/cartelPata.png"
      alt="CartelPata"
      class="poster-pata"
      
    />
  </div>
</ion-content>
