@import "../../global.scss";

.container {
  width: 100%;
  height: 100%;
  background-color: $background-color;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.back-button-container {
  align-self: flex-start;
  margin-bottom: 20px;
}

.back-button {
  background-color: transparent;
  border: none;
  width: 50px;
  height: auto;
  cursor: pointer;
}

.frog-speech {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre la rana y el speech bubble */
  margin-bottom: 20px;
}

.frog-image-container {
  width: 100px; /* Tamaño reducido de la rana */
  height: auto;
}

.frog-image {
  width: 100%;
  height: auto;
}

.speech-bubble {
  background: rgba($dialog-color, 0.8);
  border-radius: 20px;
  padding: 1rem;
  backdrop-filter: blur(10px);
  display: inline-block;
  text-align: center;
  position: relative;
  color: black;
  max-width: 200px; /* Ancho máximo del speech bubble */
  height: 250px;

  &::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -15px;
    transform: translateY(50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid rgba($dialog-color, 0.8);
  }
}

.poster-image-container {
  width: 400px; 
  height: auto;
  margin-bottom: -50px;
}

.poster-image {
  width: 100%;
  height: auto;
}

.poster-pata {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 85%;
    width: 100%;
    object-fit: cover;
  }

  .media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .media-element {
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
  }