<ion-content [fullscreen]="true">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="container">

    <iframe src="https://www.jigsawexplorer.com/online-jigsaw-puzzle-player.html?url=aHR0cHM6Ly91cGxvYWQud2lraW1lZGlhLm9yZy93aWtpcGVkaWEvY29tbW9ucy90aHVtYi83Lzc4L0R1cmFuZ29fLV9QdWVydGFfZGVfU2FudGFfQW5hXzEuanBnLzU3NnB4LUR1cmFuZ29fLV9QdWVydGFfZGVfU2FudGFfQW5hXzEuanBn&cred=RHVyYW5nb0V6YWd1dHV6&nop=9&color=yellow" allowfullscreen class="puzzle"></iframe>


    <div class="action-button__container">
      <button (click)="navigateToNewPage()" class="action-button" >
        <span class="action-button__label">Jarraitu</span>
      </button>
    </div>
  </div>


</ion-content>
