$background-color: #fff9d6;
$dialog-color: #caf49d;
$design-width: 100vw;
$design-height: 100vh;
$primary-gradient: linear-gradient(
    180deg,
    #1281ff 0%,
    #6ecf9f 75%,
    #caf49d 100%
);
$ui-white: #ffffff;
$ui-black: #000000;
$button-bg: #38a57f;
$button-stroke: #257458;
$shadow-color: rgba(0, 0, 0, 0.25);

.container {
    width: 100%;
    height: 100%;
    background-color: $background-color;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; // Add this line to center items horizontally

    .puzzle {
        width: 80%;
        height: 550px;
        border: 0;
        align-self: center; // Add this line to center the puzzle element
    }

    .action-button__container {
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.25));
      }
  
      .action-button {
        background: #38a57f;
        border-radius: 34px;
        border: 2px solid #257458;
        width: 200px;
        height: 50px;
      }
      
      .action-button__label {
        font-family: "Vasca", sans-serif;
        font-size: 1.25rem;
        color: #ffffff;
      }


    .jarraitu-button {
        margin: 20px;
        font-size: 18px;
        font-weight: bold;
        background-color: #4caf50;
        color: white;
    }
}
