* {
    color: black;
}

.wordsearch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.word-count-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.word-count {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.word-count-text {
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    color: black;
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-button ion-icon {
    font-size: 50px;
}

ion-button {
    padding: 0;
    --padding-start: 0;
    --padding-end: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    margin-bottom: 20px;
    justify-content: center;
}

.cell {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}

.cell.found {
    background-color: rgba(0, 200, 0, 0.5);
}

.cell.selected {
    background-color: rgba(0, 123, 255, 0.5);
}

.selection {
    margin-bottom: 20px;
}

.selection button {
    background-color: red;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.found-words h3 {
    font-size: 18px;
}

.found-words ul {
    list-style-type: none;
    padding: 0;
}

.found-words li {
    font-size: 16px;
    font-weight: bold;
    color: green;
}

.found-words li.found {
    text-decoration: underline;
}
