<ion-header>
  <ion-toolbar>
    <ion-title>Fill names game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="game-container">
    <div class="image-container">
      <img src="assets/images/paso.png" alt="Fill names game">

      <div *ngFor="let zone of dropZones; let i = index" class="drop-zone"
        [ngStyle]="{'top': zone.top, 'left': zone.left}" (click)="assignWordToZone(i)">
        {{ assignedWords[i] || '' }}
      </div>
    </div>

    <div class="word-container">
      <div *ngFor="let word of words; let i = index" class="draggable-word" (click)="selectWord(i)">
        {{ word }}
      </div>
    </div>

    <ion-button expand="full" (click)="checkAnswers()">ZUZENDU</ion-button>
    <p class="message">{{ message }}</p>
  </div>
</ion-content>